header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkgrey;
    padding: 30px;
    color: rgb(122, 132, 141);
    
}
.Navegacion{
    background-color: darkkhaki;
    color: rgb(221, 186, 88);
    width: 1000px;
    margin: 15px auto;

}
.Navegacion ul{ 
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.Menu > li{
    position: relative;
    display: inline-block;
    padding: 15px;

}
.Menu li a:hover{
    background-color: burlywood;
    color: black;
    transition: all .3s;

}
.Menu > li >a{
    display: block;
    padding: 15px 20px;
    color: rgb(245, 238, 238);
    font-family: Verdana;
    text-decoration: none;

}
.submenu{
    position: absolute;
    background-color:darkkhaki;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;

}
.submenu li a{
    display: block;
    padding: 15px;
    color: aliceblue;
    font-family: Verdana;
    text-decoration: none;
}
.Menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.submenu2{
    position: absolute;
    background-color:darkkhaki;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;

}
.submenu2 li a{
    display: block;
    padding: 15px;
    color: aliceblue;
    font-family: Verdana;
    text-decoration: none;
}
.Menu li:hover .submenu2{
    visibility: visible;
    opacity: 1;
}
.submenu3{
    position: absolute;
    background-color:darkkhaki;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;

}
.submenu3 li a{
    display: block;
    padding: 15px;
    color: aliceblue;
    font-family: Verdana;
    text-decoration: none;
}
.Menu li:hover .submenu3{
    visibility: visible;
    opacity: 1;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 

}
article{
    background-color: darkkhaki; 
    grid-column: 1/4;

}
aside{
    background-color: darkkhaki; 
    padding: 30px;
    grid-column: 4/5;

}
footer{
    background-color: darkgrey;
    color: beige;
    padding: 10px;

}
